<div>
    <h2>Profissionais</h2>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Especialidade</th>
          <th>Agendar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profissional of profissionais">
          <td>{{ profissional.nome }}</td>
          <td>{{ profissional.especialidade }}</td>
          <td>
            <button mat-icon-button routerLink="/Adenda">
              <mat-icon>event</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <button mat-icon-button (click)="sair()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
  