<div class="agenda-container">
    <h2>Agenda de Agendamento</h2>
    <div class="month-selector">
      <!-- Adicione botões de navegação de semana anterior e seguinte -->
      <button mat-icon-button (click)="navegarSemana(-1)">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-icon-button (click)="navegarSemana(1)">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    
      <mat-form-field>
        <mat-select placeholder="Mês/Ano" [(ngModel)]="selectedMonth">
          <!-- Opções para escolher o mês -->
          <mat-option *ngFor="let month of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" [value]="month">{{ month }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Ano" [(ngModel)]="selectedYear">
          <!-- Opções para escolher o ano (você pode ajustar o intervalo de anos) -->
          <mat-option *ngFor="let year of [2023, 2024, 2025, 2026, 2027]" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="week-view">
      <table class="appointments">
        <tr>
          <th></th>
          <th *ngFor="let day of weekDays" class="day-header">
            {{ getFormattedDate(weekDays.indexOf(day)) }}
          </th>
        </tr>
        <tr *ngFor="let time of times; let i = index">
          <td class="time">{{ time }}</td>
          <td *ngFor="let day of weekDays; let j = index" class="appointment">
            <button mat-icon-button color="primary" (click)="agendar(j, i)">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="excluir(j, i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
